 <div class="root-div">
    <p>Dette site er kun for ægte chads</p>
    <img src="/images/selfie.webp" alt="Logo" style="width: 300px; height: auto;">

 </div>


<style>
.root-div {
    padding-top: 15rem;
width: 100vw;
display: flex;
flex-direction: column;
align-items: center;  

}

.home-title {
color: darkblue;
font-size: 2rem;
}
</style>